.button {
    display: inline-block;
    background-color: var(--misty-blue);
    color: var(--text-primary);
    border: none;
    padding: 8px 16px; 
    font-size: 14px; 
    font-weight: bold;
    font-family: "Merriweather", serif;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: var(--cherry-blossom); 
    color: var(--background-primary);
    transform: scale(1.03);
    text-decoration: none;
}

.button:active {
    transform: scale(0.97);
}

.button:disabled {
    background-color: var(--darker-blue);
    cursor: not-allowed;
    opacity: 0.5;
}


a.button {
    display: inline-block;
    text-align: center;
}

.navbar-custom {
    background-color: var(--forest-green);
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main {
    padding-top: 80px; 
}

.navbar-custom .btn {
    margin-left: 10px;
}