
.multiSelect input[type="checkbox"] {
    appearance: none; 
    width: 16px;
    height: 16px;
    border: 2px solid var(--autumn-leaf);
    border-radius: 4px;
    background-color: var(--background-primary); 
    cursor: pointer;
    display: inline-block;
    position: relative;
}


.multiSelect input[type="checkbox"]:checked {
    background-color: var(--autumn-leaf); 
    border-color: var(--autumn-leaf);
}


.multiSelect input[type="checkbox"]::before {
    content: "✔";
    color: white; 
    font-size: 12px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: none;
}


.multiSelect input[type="checkbox"]:checked::before {
    display: block;
}

.dropdownWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropdownContainer {
    position: relative;
    width: 100%;
    max-width: 260px; 
    padding: 5px;
    background: var(--background-primary);
    border: 2px solid var(--border);
    border-radius: 8px;
}

.emptyDropdown {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: var(--background-secondary);
    border-radius: 8px;
}

.noItinerariesText {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.link {
    color: var(--text-primary);
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}