.heroSection {
    color: var(--text-primary);
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.heroSection h1 {
    text-align: center;
    margin-top: 5em;
}
.heroSection p {
    text-align: center;
    margin-top: 1em;
}

.seasonsSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    margin-top: -1rem;
    margin-bottom: 1rem;
}