@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sriracha&display=swap');

:root {

  --text-primary: #3b3b3b;
  --text-secondary: #6f6f6f;
  --text-tertiary: #858585;
  --background-primary: #ede5e7; 
  --background-secondary: #ded6d1;
  --background-tertiary: #c8d6cb;
  --cherry-blossom: #f7d1e0;
  --autumn-leaf: #e5b07e;
  --forest-green: #a5c8a6; 
  --misty-blue: #9cb5c3;
  --darker-blue: #7a8db4; 
  --border: #b5b5b5;
  --brand: #e8a879; 
  --brand-hover: #d2956b; 
  --brand-disabled: #b8835d; 
  --error: #f28b82; 
}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    background-color: var(--background-secondary);
}

main {
    margin: 0;
    background-color:var(--background-primary);
    flex-grow: 1;
    max-width: 100%;
}

nav {
    background-image: url("https://res.cloudinary.com/ddwlpgsjq/image/upload/v1741319129/Blossom_to_Powder_1_wopefe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    position: relative;
    height: 150px;
}


h1 {
    font-size: 6em;
    font-family: "Sriracha", serif;
    color: var(--text-primary);

} 
h2 {
    font-size: 4em;
    font-family: "Sriracha", serif;
    color: var(--text-primary);

} 
h3 {
    font-size: 3em;
    font-family: "Sriracha", serif;
    color: var(--text-primary);

} 
h4 {
    font-size: 2em;
    font-family: "Sriracha", serif;
    color: var(--text-primary);

} 
h5 {
    font-size: 1em;
    font-family: "Sriracha", serif;
    color: var(--text-primary);

} 

html {
    background-color: var(--background-primary);
}

.site-name{

    color: white;
}
.tagline{

    color: white;
}

.tagline {
    font-family: "Merriweather", sans-serif;
    font-size: 22px;

  }
